*{
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #c6e2e9;
    margin-top:50px;
    
}

h1{
    text-align:center;
    
}
.item{
    background-color: #77DF79;
    position:absolute;
    width:154px;
    text-align: center;
    
}

